In [2]:
import pandas
import os
import random
#anything else to import?

In [3]:
#create dummy data
df_hr = pandas.DataFrame.from_dict({"id":range(10),"data":range(100,110)})
df_re = pandas.DataFrame.from_dict({"id":range(5,15),"data":range(111,121)})

In [42]:
#load data into data frames, one for HR and one for RE

df_hr = pandas.read_csv('df_hr.csv')
df_re = pandas.read_csv('df_re.csv')
#ideally this should be all data: staff,faculty,hourly,admin

In [3]:
#flight_data_copy.drop(['TailNum', 'OriginStateFips', 'DestStateFips', 'Diverted'], axis=1,inplace='True')
#df_re.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6"], axis=1,inplace=True)
#df_re = df_re.drop([19,20])

In [6]:
print("df_hr: ")
print(df_hr.shape)
print(list(df_hr))

print("df_re: ")
print(df_re.shape)
print(list(df_re))

df_hr:
(10, 2)
['data', 'id']
df_re:
(10, 2)
['data', 'id']

In [51]:
export = df_hr.merge(df_re, left_on='id', right_on='id', how='outer')
export

    data_x  id  data_y
0    100.0   0     NaN
1    101.0   1     NaN
2    102.0   2     NaN
3    103.0   3     NaN
4    104.0   4     NaN
5    105.0   5   111.0
6    106.0   6   112.0
7    107.0   7   113.0
8    108.0   8   114.0
9    109.0   9   115.0
10     NaN  10   116.0
11     NaN  11   117.0
12     NaN  12   118.0
13     NaN  13   119.0
14     NaN  14   120.0

In [46]:
#export new document with new codes.
export.to_csv('hr_re_merge.csv')

In [7]:
#readData('hr_data_test.csv','re_data_test.csv')

In [ ]:
#alternate method using 'zip()'
in hr, re zip(df_hr.id,df_re.id):